@media only screen and (max-width: 600px) {
    img{
        width: 100%;
    }
  }

  #welcome-section{
      height: 100%;
  }
  
  #navbar{
      background-color: black;
      height: 50px;
      text-align: center;
  }
   a{
    font-family: sans-serif, monospace;
      text-decoration: none;
      font-size: 30px;
      padding: 10px;
      color: darkseagreen;
      margin-top: 5px;
   }

   #projects{
        display: flex;
        flex-wrap: wrap;
        padding: 3px;
        margin: 5px;
        justify-content: space-evenly;

   }

   .project-tile{
       width: 200px;
       }

    #welcome-section{
        text-align: center;
    }